<!DOCTYPE html>
<html ng-app="Restaurants">
<head>
    <title>Restaurants</title>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Restaurant.css" rel="stylesheet" />
    
    <script src="Restaurant.js"></script>
    <script src="Scripts/jquery.signalR-1.0.0-rc2.js"></script>
    <script src="http://localhost:56174/signalr/hubs" type="text/javascript"></script>
</head>

<body class="well">
    <div ng-controller="RestaurantCtrl">

        <ol>
            <li ng-repeat="restaurant in restaurants"><span class="btn" ng-click="setCurrentRestaurant(restaurant.RestaurantId)">{{restaurant.Name}}</span></li>
        </ol>

        <div class="tile" ng-hide="!currentRestaurant" ng-model="currentRestaurant">
            <h3>{{currentRestaurant.Name}}</h3>
            <img ng-src="{{currentRestaurant.ImageUrl}}" alt="{{currentRestaurant.Name}}" /><br />
            <ul>
                <li><a href="{{currentRestaurant.WebsiteUrl}}">Website</a><br /></li>
                <li><a href="https://maps.google.com/maps?q={{currentRestaurant.Address}}">Map</a></li>
            </ul>
        </div>

    </div>

    <div>
        <input type="text" id="msg" />
        <input type="button" id="broadcast" value="broadcast" />

        <ul id="messages">
        </ul>
    </div>

</body>
</html>
